


html {
  font-size: 10px;
  font-size: 62.5%; /* 10px browser default */
}

body > div {
  font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  
  
body {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.625;
  margin: 0;
  background-color: #CAD2C5;
  }

#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: #000;
}  
  
.site-header {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	max-width: 1280px;
	min-height: 77px;
	padding: 20px 40px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.site-title {
	font-size: 20px;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	text-transform: uppercase;
}

.title-area > h1 {
	display: inline;
	float: left;
	margin-top: 8px;
}

a {
	color: #333;
	text-decoration: none;
}

.nav-primary {
	float: right;
	margin-top: 10px;
}

.nav-primary > ul li{
    display: inline;
    list-style-type: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
    line-height: 1;
}

#page-1 {
	position: relative;
	margin-top: 77px;
	background-color: black;
	/* background: linear-gradient(45deg, rgb(49, 49, 49), #000); */
	color: #fff;
  }

#welcome-section {
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 80px;
}

#welcome-title {
	font-size: 50px;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 10px;
	text-transform: none;
	line-height: 1.2;
	text-align: center;
}

#sub {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.625;
	text-align: center;
}

#welcome-section > ul {
	padding-top: 60px;
}

#welcome-section > ul li {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.8;
	text-align: left;
	list-style-type: none;
}

/*
.mybutton {
	display: block;
	margin: 0px auto;


}
*/

.button {
	position: relative;
	top: 16px;
	left: 50%;
	transform: translate(-50%);
	display: inline-block;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 12px 24px;
	text-transform: uppercase;
	cursor: pointer;
	width: auto;
	text-align: center;

}

#image {
	width: 100%
}

#img-div {
	width: 220px;
	position: relative;
	float: right;
	top: 82px;
}

#img-caption {
	font-size: 14px;
    font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.4;
	text-align: left;
}

.quote {
	font-style: italic;
}

figcaption:first-letter {
	font-size: 18px;
	font-size: 1.8rem;
}

  #page-2 {
	position: relative;
	margin-top: 77px;
	background-color: #fff;
	color: #000;
	height: 100vh;
  }

  .project-image {
	  width: 500px;
  }

  .projects-grid {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
  }

  .project-tile > p {
	  text-align: center;
  }
